<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Oswald|Open+Sans:600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html", json.project) %>
  </head>
  <body>

    <div class="fixed-frame"></div>

    <main class="scroll">

      <div class="ad-spot">
        <%= t.include("partials/_ad.html", { type: "banner" }) %>
      </div>
      <header class="intro">
        <nav class="logo-bar">
          <a class="logo" href="http://seattletimes.com">
            <img src="./assets/st-logo.png">
          </a>
        </nav>

        <div class="contents">

          <h1>5 most memorable moments from Jon Ryan’s Seahawks career</h1>

          <p>
            Jon Ryan’s punting itself was enough to allow him to leave Seattle as one of the greats in Seahawks’ history.</p>
            <p>Ryan holds virtually all of the team’s punting records, including most punts (770), longest punt (77 at San Francisco in 2011), highest average for a career (44.79) and highest average for a season (46.64 in 2011).
</p>
<p>But in 10 years with the Seahawks -- a career that ended when he was released Monday -- Ryan somehow became so much more than just a punter.
</p>
<p>His self-deprecating humor allowed him to stand as one of the team’s most entertaining characters during an era when the team was filled with them. He also bought a minor league baseball team (the Portland Pickles), appeared on American Ninja Warrior and married a comedian. 
</p>
<p>And then there was that pass, and even if it might have been more shot put than long bomb, it also might have been as important as any in team history.
</p>
<p>As Ryan leaves, here’s a look at five of his top Seahawks moments.
</p> 
          <!-- <div class="social">
            <a class="share"></a>
          </div> -->

          <p class="byline">
            <span class="byline-name">Reporting by Bob Condotta</span>
          </p>

          <p class="instructions">
            <i class="fa fa-chevron-down"></i>
            Scroll to continue
            <i class="fa fa-chevron-down"></i>

        </div>

      </header>

    <% json.photos.sort(function(a, b) { return a.order - b.order }).forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

      <footer>
        <a class="logo" href="http://seattletimes.com">
          <img src="./assets/st-logo.png">
        </a>
        <a class="share-bottom"></a>
      </footer>

    </main>

    <aside class="no-mobile-portrait">
      <a class="ok" href="javascript:;">
        <i class="fa fa-times-circle-o"></i>
      </a>
      Hey! This page is designed to look best in landscape mode. Rotate your device to see for yourself.
      <i class="fa fa-rotate-left rotation"></i>
    </aside> 
   

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
    <%= t.include("partials/_workHere.html") %>
  </body>
</html>
